.img_div{
    display: flex;
}

.img_div img{
    width: 200px;
}
.resellrequest_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.no_request{
    margin-top: 20px;
    color: wheat;
}
.pid h3{
    color: wheat;
}
.img_show{
    margin: 1rem;
}
.sub_show_container{
    background-color: aqua;
    padding: 1rem;
    margin: 1rem;
    border-radius:20px ;
    color: wheat;
    background-color: black;
}
