.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: (--body-color);
}
.product_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color:var(--container-color);
    width: 600px;
    height: 250px;
    border-radius: 20px;
    transition: .5s ease-in-out;
}
.product_container:hover{
    background-color:var(--container-color);
}
.product_label{
    color: rgb(3, 44, 44);
    font-weight: bold;
    margin-bottom: 10px;
}

.product_label h4{
    font-size: 1.2rem;
}
.product_input input{
    height: 40px;
    outline: none;
}
.product_search_btn{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.product_search_btn a{
    font-size: 1.3rem;
    text-decoration: none;
}

@media(max-width:700px){
    .product_container{
        width: 300px;
    height: 200px;
    }
    .product_input input{
        width: 250px;
        height: 30px;
        outline: none;
    }
}