@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
.headingfinalprodyct{
   width: 100%;
   position: absolute;
   z-index: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.basicdetails{
    width: 100%;
    height: 100vh;
}
.Traceability h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
.headingfinalprodyct h2{
    font-size: 35px;
    font-family: 'Libre Caslon Display', serif;
}
.headingfinalprodyct p {
    position: relative;
    top: -15px;
}
.sectone{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -250px;
}
.phf{
    z-index: 100;
}
.sectone p{
    font-family: 'Poppins';
    text-align: justify;
    font-size: 12px;
    padding: 0 .5rem;
}
.btnopt button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
    margin-top: .5rem;
    color: rgb(0, 0, 0);
    width: 300px;
    border: .5px solid black;
    background: #ffffff;
}
.btns{
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headingfinalprodyct img{
    margin-top: 10px;
    width: 130px;
}
.hding{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.hding h5{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hding img{
    width: 50px;
    margin-right: .5rem;
}

.fotprint{
    display: flex;
}
.dete{
    padding: 0 1rem;
}
.dete p{
    font-size:15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.titlepro h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}
.det p .corbonfootprint h4{
    font-size: 15px;
}
.hd h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aldeno_logo{
    position: absolute;
    bottom: 100px;
    left: 48%;
}
.ref{
    font-size: 12px;
    cursor: pointer;
    bottom: 70px;
    left: 49%;
}

@media(max-width: 900px){
    .basicdetails{
        width: 100%;
        height: 100vh;
    }
    .headingfinalprodyct{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        z-index: 1;
    }
    .aldeno_logo{
        position: absolute;
        bottom: 100px;
        left: 40%;
    }
    .ref{
        cursor: pointer;
        bottom: 70px;
        left: 43%;
    }
    .headingfinalprodyct p {
        top: 0;
    }
    .headingfinalprodyct h2{
        font-size: 40px;
        font-family: 'Libre Caslon Display', serif;
    }
    .sectone{
        display: flex;
        flex-direction: column;
        top: 0;
        
    }
    .dete{
        width: 350px;
        position: relative;
        top: -230px;
        
    }
    .sectone p{
        font-family: 'Poppins';
        text-align: justify;
        font-size: 12px;
        padding: 0 .5rem;
    }
    .titlepro{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        top: -270px;
        font-family: 'Poppins';
        border-bottom: .5px solid gray;
        
    }
    .btns{
        position: absolute;
        top: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .detailsection{
        margin-top: 3rem;
    }
    
    .btnopt button{
        padding: 1rem;
        margin-top: .5rem;
        color: rgb(0, 0, 0);
        width: 300px;
        border: .5px solid black;
        background: #ffffff;
    }
}