@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
.headingfinalprodyct{
   width: 100%;
   position: absolute;
   z-index: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.basicdetails{
    width: 100%;
    height: 100vh;
}

.headingfinalprodyct h2{
    font-size: 35px;
    font-family: 'Libre Caslon Display', serif;
}
.headingfinalprodyct p {
    position: relative;
    top: -15px;
}
.sectone{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -250px;
}
.sectone p{
    font-family: 'Poppins';
    text-align: justify;
    font-size: 12px;
    padding: 0 .5rem;
}
.btnopt button{
    padding: 1rem;
    margin-top: .5rem;
    color: rgb(0, 0, 0);
    width: 300px;
    border: .5px solid black;
    background: #ffffff;
}
.btns{
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 900px){
    .basicdetails{
        width: 100%;
        height: 100vh;
    }
    .headingfinalprodyct{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        z-index: 1;
    }
    .headingfinalprodyct p {
        top: 0;
    }
    .headingfinalprodyct h2{
        font-size: 40px;
        font-family: 'Libre Caslon Display', serif;
    }
    .sectone{
        display: flex;
        flex-direction: column;
        top: 0;
        
    }
    .dete{
        width: 350px;
        position: relative;
        top: -230px;
        
    }
    .sectone p{
        font-family: 'Poppins';
        text-align: justify;
        font-size: 12px;
        padding: 0 .5rem;
    }
    .titlepro{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        top: -270px;
        font-family: 'Poppins';
        border-bottom: .5px solid gray;
        
    }
    .btns{
        position: absolute;
        top: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .btnopt button{
        padding: 1rem;
        margin-top: .5rem;
        color: rgb(0, 0, 0);
        width: 300px;
        border: .5px solid black;
        background: #ffffff;
    }
}