*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_Container{
    background: #fff;
}
.main_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.sign_upcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    background:rgb(73, 73, 73);
    border-radius: 20px;
    color: #fff;
    box-shadow: 5px 5px 5px grey;
   
}
.heading h2{
    color: black;
}
.admin-txt{
    color: red;
}

.input{
    margin: 1rem 0;
}
.input input{
    height: 40px;
    outline: 0;
}

.input button{
    width: 200px;
    height: 40px;
    outline: 0;
    transition: .2s ease-in-out;
}
.input button:hover{
    background-color: black;
    color: #fff;
}
