@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.title-logo{
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: .5rem;
    text-align: center;
    background-color: black;
    font-family: 'Caveat';
    font-family: 5rem;
}
.logo-nav{
    color: white;
}
@media(max-width:500px){
    .title-logo{
        height: 4rem;
    }
}