@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300&display=swap");
.heading h3 {
  font-family: "Noto Serif Georgian", serif;
}
p {
  font-family: "Noto Serif Georgian", serif;
}
.carbon_foot p {
  font-weight: 700;
}
.imgsectlogo .logo img {
  width: 50px;
}
.mobhed {
  position: absolute;
  top: -20px;
  left: 30%;
  display: none;
}
.traci {
  top: 20px;
}
.imglogo img {
  width: 200px;
  margin-bottom: 10px;
}
p .sust h4,
.sublable {
  font-size: 16px;
}
.sublable,
.hding h5 {
  font-family: "Noto Serif Georgian", serif;
}
.hding h5 {
  font-weight: bold;
}
.Main_sustain {
  width: 100%;
  height: 100vh;
}
.sub_sustain {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.up {
  width: 100%;
  height: 40%;
  background: rgb(80, 116, 144);
}
.carbon_foot {
  width: 150px;
  height: 150px;
  /* border: .5px solid gray; */
  /* background-color: white; */
  position: absolute;
  border-radius: 100px;
  box-shadow: 1px 1px 1px rgb(255, 253, 253), -1px -1px 1px rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.carbon_foot p {
  text-align: center;
  font-size: 35px;
  color: white;
}
.carbon_foot p span {
  font-size: 10px;
}
.nor_data {
  width: 110px;
  height: 110px;
  box-shadow: 1px 1px 1px rgb(141, 141, 141), -1px -1px 1px rgb(137, 137, 137);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 60px;
  padding: 10px;
}
.details {
  width: 60%;
  height: 200px;
  font-family: "Noto Serif Georgian", serif;
  /* border: .5px solid gray; */
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  background: white;
  left: 20%;
  box-shadow: 2px 2px 2px gray, -1px -1px 1px rgb(255, 255, 255);
}
.infods p {
  font-family: "Noto Serif Georgian", serif;
}
.nor_data p {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  position: relative;
  top: 10px;
}
.nor_data p span {
  font-weight: 400;
  font-size: 10px;
  color: rgb(0, 0, 0);
}
.heading_logo {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  justify-content: center;
  padding: 0.3rem;
}
.heading_logo img {
  width: 100px;
}
.carbon_foot {
  top: 10%;
  left: 45%;
}
.nor_data {
  bottom: 15%;
}
.data1 {
  left: 30%;
}
.data2 {
  left: 45%;
}
.data3 {
  left: 60%;
}
.trackbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 94%;
  left: 42.5%;
  color: white;
  background-color: black;
  width: 200px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.datac {
  position: absolute;
  top: 88%;
  left: 43%;
}
.datac p {
  font-family: "Noto Serif Telugu", serif;
}
.scope {
  font-size: 18px;
}
.scope p {
  font-size: 12px;
}
.ttkg {
  position: relative;
  top: -20px;
}

.emi {
  position: relative;
  top: 10px;
}
.datalogo {
  display: flex;
}
@media (max-width: 600px) {
  .mobhed {
    display: block;
  }
  .leftlogo {
    margin-left: 15px;
  }
  .slide {
    width: 360px;
  }
  .details {
    top: 40%;
    width: 80%;
    left: 10%;
    height: 100px;
  }
  .details p {
    text-align: center;
    font-size: 8px;
  }
  .carbon_foot {
    top: 13%;
    left: 30%;
  }
  .nor_data {
    bottom: 20%;
  }
  .data1 {
    left: 3%;
  }
  .data2 {
    left: 35%;
  }
  .data3 {
    left: 68%;
  }
  .trackbtn {
    left: 22.5%;
  }
  .headingfinalprodyct {
    width: 200px;
  }
  .phf {
    left: 35%;
  }
  .datac {
    left: 25%;
  }
  .details p {
    font-size: 11px;
  }
}
